h1 {
    display: block;
    font-size: large;
    font-weight: bold;
    color: palevioletred;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #000;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: antiquewhite;
    color: aqua;
    border: 3px solid #000;
    border-radius: 8px;
    cursor: pointer;
}